.inputs-from-to{
    display: flex;
    align-items: center;
}

.button-search{
    display: flex;
    justify-content: center;
}

.latest-searches{
    margin: 1rem;
}

.div_from_to{
    max-width: 70%;
    margin-inline: 1rem;
}

.icon-align-vcenter{
    align-self: center;
}

.icon-forward{
    margin-left: auto;
    margin-right: 0;
}

.header-search-modal{
    background-color: var(--ion-toolbar-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.5rem;
}

.icon-return-modal{
    font-size: 1.5rem;
}

.modal-search-results{
    display: flex;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--ion-toolbar-border-color);
}

.icon-results-modal{
    font-size: 2rem;
}

.input-autocomplete{
    margin: 0.5rem 0 0.5rem 0.5rem;
    width: 100%;
}