.header-page{
  background-color: var(--ion-item-background);
  border-bottom: 1px solid var(--ion-color-step-150, #dadada);
  height: 3.5rem;
  display: flex;
  padding: 0.5rem;
}

.icon-return{
  font-size: 1.5rem;
}

.span-info-back{
  background-color: var(--ion-color-step-150, #dadada);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  width: 100%;
}

.address-from-to{
  /* display: block; */
  margin-top: -0.2rem;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

/* .address-from-to span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1rem!important;
} */

.address-from-to ion-icon{
  margin-inline: 0.2rem;
}

.address-from-to small{
  display: block;
}

.header-tabs{
  background-color: var(--ion-color-step-150,#dadada);
  height: 5.5rem;
  padding: 0.5rem;
}

.header-tabs h5{
  margin: 0;
}

.header-tabs .card-transporte{
  margin: 0;
}

.content-filter-modal{
  margin: 0.5rem;
}

.header-filter-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-criar-alerta{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem 0 5.5rem 0; */
  margin-top: 20px;
}

.msg-not-found{
  margin: 1.5rem;
}

.msg-not-found span {
  font-size: 120%;
}