#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-status {
    text-align: center;
}

IonIcon {
    color: blue;
}