.header-page{
  background-color: var(--ion-toolbar-background);
  border-bottom: 1px solid var(--ion-toolbar-border-color);
  height: 3.5rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.icon-return{
  font-size: 1.5rem;
}

.span-info-back{
  background-color: #4e4e4e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
}